<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.gittest.mapper.StudentMapper">


  <!--通过用户名查询用户对象-->
  <select id="getUserByName" parameterType="string" resultType="Student">
    select * from student where stuname = #{name}
  </select>
</mapper>